## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Busselton,AU,2022-04-07 17:25:11,-33.6500,115.3333,67.14,54,79,4.97,broken clouds
1,1,Kruisfontein,ZA,2022-04-07 17:26:49,-34.0033,24.7314,56.88,67,30,10.74,scattered clouds
2,2,Namibe,AO,2022-04-07 17:26:49,-15.1961,12.1522,72.32,75,5,12.91,clear sky
3,3,Avallon,FR,2022-04-07 17:26:49,47.4833,3.9000,53.24,92,100,23.02,light rain
4,4,Bima,ID,2022-04-07 17:26:50,-8.4667,118.7167,76.21,94,98,4.14,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_trip_temp = float(input("Minimum trip temp:"))
max_trip_temp = float(input("Maximum trip temp:"))

Minimum trip temp:65
Maximum trip temp:85

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
compatible_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_trip_temp) &
                                         (city_data_df["Max Temp"] >= min_trip_temp)]
compatible_cities_df

,ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Busselton,AU,2022-04-07 17:25:11,-33.6500,115.3333,67.14,54,79,4.97,broken clouds
2,2,Namibe,AO,2022-04-07 17:26:49,-15.1961,12.1522,72.32,75,5,12.91,clear sky
4,4,Bima,ID,2022-04-07 17:26:50,-8.4667,118.7167,76.21,94,98,4.14,overcast clouds
6,6,Atuona,PF,2022-04-07 17:26:50,-9.8000,-139.0333,79.12,72,17,15.95,few clouds
10,10,Faanui,PF,2022-04-07 17:26:52,-16.4833,-151.7500,82.78,70,30,19.69,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
639,639,Curanilahue,CL,2022-04-07 17:44:25,-37.4667,-73.3500,65.73,65,46,6.35,scattered clouds
643,643,Tumaco,CO,2022-04-07 17:44:27,1.7986,-78.8156,81.79,77,100,9.08,light rain
647,647,Bundaberg,AU,2022-04-07 17:45:29,-24.8500,152.3500,70.09,94,100,9.22,overcast clouds
655,655,Takoradi,GH,2022-04-07 17:45:32,4.8845,-1.7554,83.52,76,86,13.80,overcast clouds
659,659,Galle,LK,2022-04-07 17:45:34,6.0367,80.2170,80.28,81,98,2.66,overcast clouds

In [7]:
# 4a. Determine if there are any empty rows.
compatible_cities_df.count()

ID             258
City           258
Country        257
Date           258
Lat            258
Lng            258
Max Temp       258
Humidity       258
Cloudiness     258
Wind Speed     258
Description    258
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
compatible_cities_df = compatible_cities_df.dropna()
compatible_cities_df

,ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Busselton,AU,2022-04-07 17:25:11,-33.6500,115.3333,67.14,54,79,4.97,broken clouds
2,2,Namibe,AO,2022-04-07 17:26:49,-15.1961,12.1522,72.32,75,5,12.91,clear sky
4,4,Bima,ID,2022-04-07 17:26:50,-8.4667,118.7167,76.21,94,98,4.14,overcast clouds
6,6,Atuona,PF,2022-04-07 17:26:50,-9.8000,-139.0333,79.12,72,17,15.95,few clouds
10,10,Faanui,PF,2022-04-07 17:26:52,-16.4833,-151.7500,82.78,70,30,19.69,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
639,639,Curanilahue,CL,2022-04-07 17:44:25,-37.4667,-73.3500,65.73,65,46,6.35,scattered clouds
643,643,Tumaco,CO,2022-04-07 17:44:27,1.7986,-78.8156,81.79,77,100,9.08,light rain
647,647,Bundaberg,AU,2022-04-07 17:45:29,-24.8500,152.3500,70.09,94,100,9.22,overcast clouds
655,655,Takoradi,GH,2022-04-07 17:45:32,4.8845,-1.7554,83.52,76,86,13.80,overcast clouds
659,659,Galle,LK,2022-04-07 17:45:34,6.0367,80.2170,80.28,81,98,2.66,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = compatible_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Busselton,AU,67.14,broken clouds,-33.6500,115.3333,
2,Namibe,AO,72.32,clear sky,-15.1961,12.1522,
4,Bima,ID,76.21,overcast clouds,-8.4667,118.7167,
6,Atuona,PF,79.12,few clouds,-9.8000,-139.0333,
10,Faanui,PF,82.78,scattered clouds,-16.4833,-151.7500,
12,Moron,AR,82.96,light rain,-34.6534,-58.6198,
13,Sao Bras De Alportel,PT,65.28,few clouds,37.1531,-7.8875,
14,Salta,AR,82.58,few clouds,-24.7859,-65.4117,
15,Port Blair,IN,80.64,mist,11.6667,92.7500,
19,Carnarvon,AU,77.07,scattered clouds,-24.8667,113.6333,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("Processing Record")
    except(IndexError):
        hotel_df.loc[index, "Hotel Name"] = None
        print("Hotel not found")
        
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Hotel not found
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Hotel not found
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
Processing Record
-----------------------------
Data Retrieval Complete
-----------------------------

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Busselton,AU,67.14,broken clouds,-33.6500,115.3333,Observatory Guest House
2,Namibe,AO,72.32,clear sky,-15.1961,12.1522,Hotel Chik Chik Namibe
4,Bima,ID,76.21,overcast clouds,-8.4667,118.7167,Lambitu Hotel
6,Atuona,PF,79.12,few clouds,-9.8000,-139.0333,Villa Enata
10,Faanui,PF,82.78,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp}</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Busselton,AU,67.14,broken clouds,-33.6500,115.3333,Observatory Guest House
2,Namibe,AO,72.32,clear sky,-15.1961,12.1522,Hotel Chik Chik Namibe
4,Bima,ID,76.21,overcast clouds,-8.4667,118.7167,Lambitu Hotel
6,Atuona,PF,79.12,few clouds,-9.8000,-139.0333,Villa Enata
10,Faanui,PF,82.78,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [14]:
gmaps.configure(api_key=g_key)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig1 = gmaps.figure()
fig1.add_layer(marker_layer)

fig1

Figure(layout=FigureLayout(height='420px'))